#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* 
 Copied from JS ToDo list 
 */

 h1, h2, h3, h4, button, input{
  font-family: Proxima-Nova;
  color: #565555;
}

input{
  padding: 20px;
}
button{
  padding: 20px;
  border-radius: 5px;
}

header{
  display:flex;
  align-items: center;
  justify-content: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#all-tds{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(241 241 241);
  padding: 10px;
  width: 100%;
  margin-right: 20px;
}

#td-list, #new-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#td-actions{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;  
  padding-left: 10px
}

#td-container, #completed{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


#td-container{
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

#td-list{
  width: 80%;
  height: 80%;
}

body{
  height: 100%;
  background-color: white

}

.todo-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  margin-right: 10px;
  background-color: #dcdcdc;
  border-radius: 10px;

}

.todo-text, .completed-text{
  padding: 20px;
}

.completed-text{
  padding-right: 5px;
}

.delete{
  padding-top: 10px; 
  padding-bottom: 10px;
  margin-right: 20px;
}

.completed-container{
  display: flex;
  flex-direction: row;
}

#all-tds{
  display: flex;
  flex-direction: column;
}

